<div id="word-<%= test_word.id %>" class="word-item">
  <p>
    原文：<%= test_word[:raw] %><br />
    <span class="answer"><%= test_word[:translate] %></span>
    <span class="show-answer-button btn">請按我顯示解答</span>
  </p>
</div>